body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: rem(1);

  @include breakpoint(extra-large) {
    font-size: $base-font-size * 0.85;
  }
}

:focus {
  outline: none !important;
}
