// Typography
$base-font-family: "Lato Regular", serif;
$heading-font-family: "Lato Regular", serif;

// Font Sizes
$base-font-size: 20px;

// Font Colors
$base-font-color: black;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.3;

// Colors
$white: #fff;
$black: #000;
$light-blue: #5dbdfe;
$text-color: $black;

// Background Colors
$base-background-color: $white;
$secondary-background-color: #f1f1f1;
$third-background-color: #f34235;
